.k-editor-html5video-block {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.k-editor-html5video-block figure {
  line-height: 0;
}
.k-editor-html5video-block-wrapper video {
  width: 100%;
}
.k-editor-html5video-block-wrapper[data-responsive] video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
  height: 100%;
}
.k-editor-html5video-block-wrapper[data-responsive] {
  position: relative;
  padding-bottom: 66.66%;
  background: var(--color-dark);

}
.k-editor-html5video-block-wrapper:focus {
  outline: 0;
}
.k-editor-html5video-block-wrapper:focus video {
  outline: 2px solid var(--color-focus-outline);
  outline-offset: 2px;
}
.k-editor-html5video-block figcaption {
  display: block;
  margin-top: .75rem;
}
.k-editor-html5video-block .k-editable-placeholder,
.k-editor-html5video-block .ProseMirror {
  text-align: center;
  font-size: .875rem;
  line-height: 1.5em;
}
.k-editor-html5video-block-placeholder {
  display: flex;
  line-height: 1;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: .875rem;
  width: 100%;
  background: var(--color-background);
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  color: var(--color-text-lighter);
}
.k-editor-html5video-block-placeholder:focus {
  outline: 2px solid var(--color-focus-outline);
  outline-offset: 2px;
}
.k-editor-html5video-block-placeholder .k-button {
  padding: .75rem;
  display: flex;
  align-items: center;
  color: var(--color-black);
  margin: 0 .5rem;
}
.k-editor-html5video-block .k-editor-block-options {
  top: 20px;
}